{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	
	<title>{% block title %}Blog 한글 테스트{% endblock %}</title>
	
	<meta name="description" content="GettingStartBlog">
	<meta name="author" content="fiadot">
	<meta name="designer" content="fiadot">
	<meta name="keywords" content="blog,django">	  	 
	 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<!-- Main Scripts -->				
	<script src="{% static "js/modernizr.js" %}"></script>	
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
        
    <!-- Style -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
	<link rel="stylesheet" href="{% static "css/custom" %}" >
	
</head>



<body>
	<div id="sidebar"> {% block sidebar %} {% endblock %} </div>
	
	<div id="container">
		<div id="menu">
			{% block nav-global %}
															
				<div class="header">
			    	<ul class="nav nav-pills pull-right">				  	
			    		<li class="active"><a href="{% url 'blog.views.main' %}">View</a></li>
			    		{% if user.is_staff %}
						<li><a href="{% url 'admin:index' %}">Admin</a></li>
						<li><a href="{% url 'admin:blog_post_add' %}">Add Post</a></li>
						{% endif %}			  							         
			       </ul>			     
			    </div>			     	
			    			    			
				<a href="{% url 'blog.views.main' %}"><h3 class="text-muted">Blog 한글 </h3></a>				
			{% endblock %}
		</div>	
		
		
		<div class="contents">		
			{% block content %}{% endblock %}
		</div>
		
		
		<div class="footer">
			<p>copy. 2014. footer</p>
		</div>
				
	</div> 
	

</body>

</html>
