{% extends "base.html" %}

{% block content %}
    
     <!-- Posts  -->    
	<div class="row">
		{% for post in posts.object_list %}
    	<div class="col-lg-8">
    		<a href="{% url 'blog.views.post' post.id %}">{{ post.title|truncatewords:"8" }}</a>
      		<span class="glyphicon glyphicon-time"></span> Posted on {{ post.created }}	        
			<div class="body">{{ post.body|truncatewords:"20" }}</div>	                
            <hr>
    	</div>
    	 {% endfor %}
    </div>    
    
    
    <!-- Page links -->    
    <!-- TODO : digg style paginator 
    {% if posts.object_list and posts.paginator.num_pages > 1 %}
    <ui class="pagination">
		{% for output_page in posts.paginator.page_range %}
			{% ifequal output_page posts.number %}
				<li class="active"><a href="?page={{ output_page }}">{{ output_page }}</a></li>
			{% else %}
				<li><a href="?page={{ output_page }}">{{ output_page }} </a></li>			
	        {% endifequal %}
   		{% endfor %}
    </ui>
    {% endif %}
   	-->
   
    {% if posts.object_list and posts.paginator.num_pages > 1 %}
    <ul class="pager">		
	 	{% if posts.has_previous %}
		<li class="previous"><a href="?page={{ posts.previous_page_number }}">Prev</a></li>
		{% else %}
		<li class="previous disabled"><a href="#">Prev</a></li>
		{% endif %}		
		
		{% if posts.has_next %}
		<li class="next"><a href="?page={{ posts.next_page_number }}">Next</a></li>
		{% else %}
		<li class="next disabled"><a href="#">Next</a></li>				
		{% endif %}		
	</ul>
    {% endif %}

 

{% endblock %}